// =============================================================================
// SCSS/SITE/_ADMINBAR.SCSS
// -----------------------------------------------------------------------------
// Styles for when the WordPress Admin Bar is active.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Fixed Navbar
//   02. Widgetbar
//   03. Icon Styles
// =============================================================================

// Fixed Navbar
// =============================================================================

.admin-bar {
  .x-navbar-fixed-top,
  .x-navbar-fixed-left,
  .x-navbar-fixed-right {
    top: 32px;
    @include break(cubs) {
      top: 0;
    }
  }
}



// Widgetbar
// =============================================================================

.admin-bar {
  .x-widgetbar,
  .x-btn-widgetbar {
    top: 32px;
  }
}



// Icon Styles
// =============================================================================

.admin-bar.x-icon {
  .x-sidebar {
    @include break(papa-bear) {
      top: 32px;
    }
  }
}

.admin-bar.x-icon.x-full-width-active {
  .x-sidebar {
    @include break(papa-bear) {
      top: 0;
    }
  }
}