.rslides {
	float: left;
}

.rslides_tabs {
	margin-left: 220px;
}

.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}

.rslides_tabs a {
	float: left;
	width: 14px;
	height: 14px;
	display: inline;
	border-radius: 100%;
	font-size: 1px;
	background-color: #585858;
	margin-right: 5px;
	text-align: center;
	color: #585858;
	font-weight: 300;
}

.rslides_tabs li:first-child {
	margin-left: 0;
}

.rslides_tabs .rslides_here a {
	background: #b9b9b9;
	color: #b9b9b9;
	font-weight: 300;
}

@media only screen and (min-width: 1000px) and (max-width: 1169px){
.rslides_tabs {
	margin-left: 190px;
}

	
}

@media only screen and (min-width: 768px) and (max-width: 999px){
.rslides_tabs {
	margin-left: 130px;
}

	
}


@media only screen and (min-width: 480px) and (max-width: 767px){
.rslides_tabs {
	margin-left: 190px;
}
}

@media only screen and (max-width: 479px){
.rslides_tabs {
	margin-left: 130px;
}
}


