.no-touch .hi-icon-effect-2a .fa:hover {box-shadow: 0 0 0 3px #fc4a4a;}
.no-touch .hi-icon-effect-1a .fa:hover, .no-touch .hi-icon-effect-2a .fa:hover:after, .no-touch .hi-icon-effect-5 .fa:hover, .no-touch .hi-icon-effect-6 .fa:hover  {background: none repeat scroll 0 0 #fc4a4a;}
.hi-icon-effect-1 .fa:after, .hi-icon-effect-6 .fa:hover{ box-shadow: 0 0 0 4px #fc4a4a;}
.no-touch .hi-icon-effect-5 .fa:hover{box-shadow: 0 0 0 8px rgba(252,74,74,0.3);}
.no-touch .hi-icon-effect-7a .fa:hover:after{box-shadow: 3px 3px 0 #fc4a4a;}
.no-touch .hi-icon-effect-8 .fa:hover{background: rgba(252,74,74,0.05);}
.no-touch .hi-icon-effect-9a .fa:hover{box-shadow: 0 0 0 10px #fc4a4a;}
#wp-calendar td a, .sidebar_widget ul li a:before, .sidebar_widget ul li a, .tagcloud a, .dslc-widget-wrap ul li a, .lirc_section4 li.left_two i, 
.block_style_8_box2 .hi-icon-wrap .fa, .block_style_8_box2 h3, .block_style_8_box2 .hi-icon-effect-9a .fa:hover{color: #fc4a4a;}
#bg_default, .logo_main img, .logo_main img, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{background: #fc4a4a;}
.liwo.fusection1 .liwo-service-icon i{border: 3px solid #ea009b;}
.liwo.fusection1 .liwo-service-icon i:hover,.liwo.fusection1 .liwo-service-icon .hi-icon-wrap .fa{color: #ea009b;}
.liwo.fusection1 .liwo-service-button .more1{background-color: #ea009b;}
.liwo.fusection1 .one_full:hover h2, .liwo.fusection3 .section1 h5 b, .lirc_section .block3_left i, .liwo_services_block6.inner .one_full i{color: #ea009b;}
.liwo.fusection3 .section1 i, .liwo_services_block7 .liwo_services_block7_list .services_block7 .left, .liwo.fusection1 .one_full:hover a.more1{background-color: #ea009b;}
.liwo.fusection1 .one_full:hover i, .cbp-caption i{border: 1px solid #ea009b; color: #ea009b;}
.post_info_content a, .tci_list_left li a:hover{color: #ea009b;}
.hi-icon-effect-8 .fa:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fc4a4a, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fc4a4a, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fc4a4a, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fc4a4a, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fc4a4a, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fc4a4a, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}
#trueHeader #logo{
	float:left;
	display:block;
	width:100%;
	height:61px;
	text-indent:-999em;
	background: url(../../images/colors/red/logo.png) no-repeat left 18px;
}

.jetmenu > li:hover > a, .jetmenu > li.active > a {
    color: #fc4a4a;
}

a.button_slider {
	background-color: #fc4a4a;
}

.liwo.punch_text {
	background: #fc4a4a;
}
.liwo.punch_text a {
	border: 2px solid #b32c2c;
}
.liwo.punch_text a:hover {
	background-color:#b32c2c;
}
.liwo.fusection1 .one_fourth.helight i {
    border: 1px solid #fc4a4a;
	color: #fc4a4a;
}
.liwo.fusection1 .one_fourth.helight h2 {
    color: #fc4a4a;
}
.liwo.fusection2 .right .more2:hover {
    background-color: #fc4a4a;
}

.liwo.fusection2 .right .more2:hover {
    background-color: #fc4a4a;
}

.liwo.fusection1 .one_fourth:hover a.more1 {
	color: #fff;
	background-color:#fc4a4a;
}
.liwo.fusection1 .one_fourth.helight a.more1 {
	color: #fff;
	background-color:#fc4a4a;
}


.liwo.fusection1 .one_fourth:hover h2 {
	color: #fc4a4a;
}
.liwo.fusection1 .one_fourth:hover i {
	color: #fc4a4a;
	border: 1px solid #fc4a4a;
}

.liwo.fusection2 .left i {
    border: 3px solid #fc4a4a;
}
.liwo.fusection2 .left i {
    color: #fc4a4a;
}
.liwo.fusection2 .left .more2 {
	background-color: #fc4a4a;
}
.liwo.fusection2 .left strong {
    color: #fc4a4a;
}

.liwo.fusection3 .sec1 i {
    background-color: #fc4a4a;
}
.liwo.fusection3 .sec1 h5 b {
    color: #fc4a4a;
}

.liwo.graph1 {
    background: url(../../images/colors/red/liwo-img2.png) no-repeat scroll center top rgba(0, 0, 0, 0);
}
#parallax_01 .left {
    background: url(../../images/colors/red/liwo-img5.png) no-repeat scroll center top rgba(0, 0, 0, 0);
}
#parallax_01 .right .buttons a.one {
    background-color: #fc4a4a;
}
.liwo.fusection5 .left a.one {
    background-color: #fc4a4a;
}

.error_pagenotfound em {
    color: #fc4a4a;
}
.people_says.blogposts a.more3 {
    background-color: #fc4a4a;
}
.testimonials .jcarousel-skin-tango .jcarousel-container-horizontal strong {
    color: #fc4a4a;
}
.people_says.blogposts h4 {
    color: #fc4a4a;
}
.four_col_fusection .one_fourth.helight i {
	color: #fc4a4a;
}
.four_col_fusection .one_fourth.helight a {
	color: #fc4a4a;
}
.four_col_fusection .one_fourth.helight a i {
	color: #fc4a4a;
}

.slider_sec_box:hover{
	background-color: #46a1cd;
}

.four_col_fusection .one_fourth a:hover {
	color: #fc4a4a;
}
.four_col_fusection .one_fourth a:hover i {
	color: #fc4a4a;
}

.tp-caption.large_bold_white {
background-color:#fc4a4a;
}

.tp-caption.medium_bg_darkblue {
background-color:#fc4a4a;
}

.features_sec02 {
	background-color: #fc4a4a;
}

.faide_slider #slider b{
	color: #fc4a4a;
}

.punch_text02 b {
	color: #fc4a4a;
}

.punch_text02 a.icon_but {
	background: url(../../images/colors/red/quote-big.png) no-repeat right top;
}
.big_text1 i {
	color: #fc4a4a;
}

.lirc_section li.left i {
	color: #fc4a4a;
}

.punchline_text_box {
	border-left: 5px solid #fc4a4a;
}

a.knowmore_but {
	background-color: #fc4a4a;
}

.four_col_fusection.inner .one_fourth i {
	color: #fc4a4a;
}

.get_features .get_features_list li.left {
	background-color: #fc4a4a;
}

.fullimage_box2 li i {
	color: #fc4a4a;
}
.fullimage_box2 h3 {
	color: #fc4a4a;
}

blockquote {
	border-left: 5px solid #fc4a4a;
}

.small_social_links li i {
	color: #fc4a4a;
}

a.but_goback {
	background: #fc4a4a;
}

.portfolioFilter a:hover {
	color: #fff;
	background-color: #fc4a4a;
}
.portfolioFilter a.current {
	color: #fff;
	background-color: #fc4a4a;
}

.error_pagenotfound i {
	color: #fc4a4a;
}

.blog_post a.date strong {
	color: #fc4a4a;
}

.blog_post a.date i {
	background-color: #fc4a4a;
}

.blog_post h3 a {
	color: #fc4a4a;
}

.sidebar_widget ul.arrows_list1 li a {
	color: #fc4a4a;
}

#site-searchform #searchsubmit{
	background: #fc4a4a url(../../images/site-search-icon.png) no-repeat center 14px;
}

.recent_posts_list li a:hover {
	color: #fc4a4a;
}

.sharepost li {
	background-color: #fc4a4a;
}

.about_author a:hover {
	color: #fc4a4a;
}

.lirt_section li strong {
	color: #fc4a4a;
}

.address-info a {
	color: #fc4a4a;
}

.acc-trigger a { background: url(../../images/colors/red/accordion-ico.png) no-repeat 20px 13px;}
.acc-trigger a:hover { color: #fc4a4a; border-bottom: 1px solid #fff;  }
.acc-trigger.active a { color: #fc4a4a; background-position: 20px -58px; cursor: default;	}
.acc-trigger a { background:  background: url(../../images/colors/red/accordion-ico.png) no-repeat 20px 13px;}
.acc-trigger a:hover { color: #fc4a4a; border-bottom: 1px solid #fff;  }
.acc-trigger.active a { color: #fc4a4a; background-position: 20px -58px; cursor: default;	}
.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover { color: #fc4a4a; border-bottom: 1px solid #fff; }

.accrodation .acc-trigger a { background: url(../../images/colors/red/accordion-ico.png) no-repeat 20px 13px;}
.accrodation .acc-trigger a:hover { color: #fc4a4a; border-bottom: 1px solid #fff;  }
.accrodation .acc-trigger.active a { color: #fc4a4a; background-position: 20px -58px; cursor: default;	}
.accrodation .acc-trigger.active a:hover { color: #fc4a4a; border-bottom: 1px solid #fff; }

html ul.tabs-two li.active, html .content_fullwidth ul.tabs-two li.active a,  html .content_fullwidth ul.tabs-two li.active a:hover  { 
	color:#fc4a4a;
}
html ul.tabs  { 
	background: #fc4a4a;
}
html ul.tabs li a  { 
	background-color: #fc4a4a;
}

.sidebar_widget ul.tabs li.active, html .sidebar_widget ul.tabs li.active a,  html .sidebar_widget ul.tabs li.active a:hover  {
		border-top: 1px solid #fc4a4a;
}
.sidebar_widget ul.tabs {
	background: none;
}
.sidebar_widget ul.tabs li a {
	background: none;
}
.sidebar_widget ul.tabs li a:hover {
	background-color: #383634;
}

.pricing-tables-helight .title {
    background-color: #fc4a4a;
}
.pricing-tables-helight .price {
	background-color: #fc4a4a;
}
.pricing-tables-helight .title {
    border-bottom: 1px solid #fff;
    border-top: 3px solid #fc4a4a;
}

.pricing-tables-helight-two .title {
    background-color: #fc4a4a;
}
.pricing-tables-helight-two .price {
	background-color: #fc4a4a;
}
.pricing-tables-helight-two .title {
    border-top: 3px solid #fc4a4a;
}
.pricing-tables-helight-two .title {
    background-color: #fc4a4a;
}
.button.small.colorchan{
	color: #fff;
	background-color: #fc4a4a;
}
.pricing-tables-helight-two .title {
	background-color: #fc4a4a;
	border-bottom: 1px solid #fff;
}
.pricing-tables-helight-two .price {
	background-color: #fc4a4a;
}
.pricing-tables-main .ordernow .colorchan{
	color: #fff;
	background-color: #fc4a4a;
}
.pricing-tables-main .ordernow .colorchan:hover{
	color: #fff;
	background-color: #3bdd55;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fc4a4a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fc4a4a;

}
.fhmm .dropdown-menu {
	border-top: 2px solid #fc4a4a;
}
.navbar-default .navbar-nav > li.current_page_item > a{
  color: #fc4a4a !important;
}