// =============================================================================
// SCSS/SITE/STACKS/ICON/_SCROLL-TOP.SCSS
// -----------------------------------------------------------------------------
// Styles for optional scroll to top button.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Base Styles
// =============================================================================

// Base Styles
// =============================================================================

.x-scroll-top {
  position: fixed;
  z-index: $zindexNavbar + 1;
  bottom: 10px;
  width: 35px;
  height: 35px;
  border: 2px solid #272727;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  color: #272727;
  border-radius: 100%;

  &.in {
    @include opacity(0.35);

    &:hover {
      @include opacity(1);
    }
  }

  &.left  { left: 10px; }
  &.right { right: 10px; }

  &:hover {
    color: #272727;
  }
}