// =============================================================================
// SCSS/SITE/STACKS/RENEW/_COMPONENT-ANIMATIONS.SCSS
// -----------------------------------------------------------------------------
// CSS3 animations added via class names.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Base Styles
// =============================================================================

// Base Styles
// =============================================================================

.fade {
  @include opacity(0);
  @include transition(#{opacity 0.3s ease});

  &.in {
    @include opacity(1);
  }
}

.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition(#{height 0.3s ease});

  &.in {
    height: auto;
  }
}