/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Mar-2014, 16:18:40
    Author     : dansmith
*/


@import "compass";

$megadrop-height                    :   63px;
$megadrop-background                :   #333;
$megadrop-background-hover          :   #FFF;
$megadrop-font-size                 :   16px;

$megadrop-dropdown-column-width     :   160px;
$megadrop-dropdown-color: #FFF;


$megadrop-link-colour               :   #fff;
$megamenu-dropdown-max-cols         :   5;


.nav {

  
  box-sizing: border-box;
      width: 100%;
      padding:0;     
margin: 0 auto;
background:$megadrop-background;
height: $megadrop-height;

        
	&.shadow{
		-webkit-box-shadow:inset 0 0 12px 0 darken($megadrop-background,30%);
		box-shadow:inset 0 0 12px 0 darken($megadrop-background,30%);
	}


        li{ 
    	list-style: none;       
            &.nav-right{ float: right; }
        }

    
        > li { 
            padding: 0; float: left; position: relative; 
            > a {
                  float: left;

                  color: #fff;
                  font-size: 16px;
                  text-decoration: none;
                  line-height: 63px;
                  padding: 0 14px; 
                  margin-right:1px;
                  height: 63px;
                  text-shadow: -1px 1px 0 darken($megadrop-background,30%);

                  &:last-of-type{
                      margin-right:0;
                  }
             }
            > div {
                 position: absolute;
                 left: 0;
                 top: 63px;
                 display: none;
                 background: $megadrop-dropdown-color;
                 padding: 10px;
                 box-shadow: 0 2px 3px rgba(0,0,0,0.1);
                 overflow: hidden;
                 z-index: 99999;
                 
                 ul{ margin:0; padding:0;
                     
                     //dropdown link styles
                     li a{ 
                         
                         background:red;
                         
                         color:#FFF;
                         text-decoration: none;
                         padding:9px 12px;
                         margin-bottom: 2px;
                         margin-right:2px;
                         display:block;
                         
                         &:hover{
                             background:#FFF;
                             color:#111;
                         }
                         
                     }
                 
                 }
                 
                 p { color: #666; }
                 .right { right: 0; left: auto }
            }
   
      //hover over main links      
      &:hover{
       > a { 
           
           
           //border-top:1px solid #FFFFFF; 
           background:  $megadrop-background-hover;
           color:   darken($megadrop-background-hover,100%) ;
           text-shadow: -1px 1px 0 #FFFFFF;
           
            $experimental-support-for-svg: true;
            @include background-image(linear-gradient(#f8f8f8, #ffffff));  
            @include box-shadow(0 -1px 8px 0 rgba(0,0,0,0.2));
           
       }
           
       > div { }
   }
   &:first-child{
       > a { border-left: 0; }
   }
   &:last-child{
       > a { border-right: 0; }
   }
   } 

}

.nav.nojs{
    
    > li { 
    &:hover{
       > a { 
           
           
           //border-top:1px solid #FFFFFF; 
           background:  #f8f8f8;
           color:   #222;
           text-shadow: -1px 1px 0 #FFFFFF;
           
            $experimental-support-for-svg: true;
            @include background-image(linear-gradient(#f8f8f8, #ffffff));  
            @include box-shadow(0 -1px 8px 0 rgba(0,0,0,0.2));
           
       }          
       > div { }
       
   
   div[class^="container-"]{
   display:block !important; 
   @include opacity(1);
   }
       
   }
}
}

.navvisfix{
    visibility:visible !important;
    opacity:1 !important;
    display:block !important;
}

/* MEGA DROP DOWN */
//Create containers 1  to Max Col Number
@for $container_i from 1 through $megamenu-dropdown-max-cols {
    .container-#{$container_i}{       
        width: $megadrop-dropdown-column-width * $container_i;
        
     
                
        //Define cols 1 to (current container number)
        @for $col_i from 1 through $container_i{        
            .col#{$col_i}{                
            margin:0; padding:0;
            float:left;
            width: ((100 / $container_i) *  $col_i) +0%; 
             
            }            
        }          
    }    
}